<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Title</title>
</head>
<body>
    <video id="video" src="{{ url_for('static',filename='qbl.mp4')}}" controls="controls"  height="80%" width="80%">您的浏览器不支持。</video>
    <button onclick="sendPlay()">播放</button>
    <button onclick="sendPause()">暂停</button>
   <script src="{{ url_for('static',filename='jquery-3.5.1.min.js')}}"></script>
   <script>
       var socket = new WebSocket("ws://127.0.0.1:5000/message");

       socket.onmessage = function (event) {
           /* 服务器端向客户端发送数据时，自动执行 */
           var response = JSON.parse(event.data); // {'user':1,'count':new}
           if(response.type == 'play'){
                var player=document.getElementById('video');
                player.play();
           }else if(response.type == 'pause'){
            var player=document.getElementById('video');
            player.pause();
           }
           else{
               alert(response.data);
           }
       };

       /*
       我要给某人投票
        */

       function sendPlay(){
            socket.send('play');
       };

       function sendPause(){
            socket.send('pause');
       };

        function play() {
            var player=document.getElementById('video');
            player.play();
       };
       function pause() {
            var player=document.getElementById('video');
            player.pause();
       };

   </script>
</body>
</html>
